$colour-blue: #40739e;
$colour-lightblue: #D0D8D9;
$colour-darkblue: #7794A6;
$colour-navy: #192a56;
$colour-darkgrey: #353b48;
$colour-grey: #7f8fa6;
$colour-lightgrey: #f5f6fa;

$colour-hover: #F2D0A7;
$colour-error: red;